/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Jun 21, 2014, 10:32:36 PM
    Author     : Gage
*/

.post {
    background-color: #e7e7e7;
    margin: 1em;
    padding:1em;
    max-width: 300px;
}

.post .author {
    padding-left:0.5em;
    padding-top:0.5em;
    color: #3f3f3f;
}

.post .date {
    float:right;
    color: #6d6d6d;
    padding-left:0.5em;
    padding-top:0.5em;
}

.clearfix {
    clear: both;
}

